html, body {
    height: 100%;
    margin: 0;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    line-height: 1.6;
    color: gainsboro;
    background-color: black;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
}

h1 {
    color: gainsboro;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-weight: bold;
    font-size: 36;
    margin-top: 0;
}

p {
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    margin: 0;
    padding: 10px;
}

img {
    border-radius: 10px; 
    margin: 10px;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-top: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 0;
    margin-top: 0;
    width: 1000px;
}

